@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Cormorant+Garamond:wght@300&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-image: url("/photo/background-main.jpg");
}

@media (max-width: 480px) {
  main {
    width: 100%;
    height: 100%;
    background-image: url("/photo/background-main.jpg");
  }
  main .container-main {
    max-width: 480px;
    height: 100%;
  }
  main .container-main .red-1 {
    width: 100%;
    height: 300px;
    background-image: url("/photo/header.jpg");
    background-size: 190%;
    background-position: top;
  }
  main .container-main .red-1 .r1-content {
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.397);
    margin-top: 120px;
  }
  main .container-main .red-1 .r1-content p {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 20px;
    color: white;
    background-color: rgba(44, 17, 17, 0.76);
    height: 40px;
    text-align: center;
    text-shadow: 0px 0px 5px #903333;
    padding-top: 6px;
  }
  main .container-main .green-1 {
    width: 100%;
    height: 200px;
    background-image: url(/photo/work-photo.jpg);
    background-size: 120%;
    background-position: center;
  }
  main .container-main .green-1 .content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .container-main .green-1 .g1-c1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    height: 30px;
    float: right;
    background-color: rgba(255, 235, 144, 0.836);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 15px 0px 30px 0px;
    border-radius: 12px;
  }
  main .container-main .green-1 .g1-c1 .g1-c1-text p {
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    margin-right: 10px;
    color: #3f3f3f;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  main .container-main .green-1 .g1-c1 .g1-c1-img img {
    margin: 5px 0px 0px 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px #ffd900;
            box-shadow: 0px 0px 15px #ffd900;
    background-color: rgba(255, 217, 0, 0.418);
  }
  main .container-main .green-1 .g1-c2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    height: 30px;
    float: left;
    background-color: rgba(255, 255, 255, 0.692);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 8px 0px 30px 0px;
    border-radius: 12px;
  }
  main .container-main .green-1 .g1-c2 .g1-c2-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
  }
  main .container-main .green-1 .g1-c3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    height: 30px;
    float: right;
    background-color: rgba(253, 253, 253, 0.794);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 8px 0px 0px 0px;
    border-radius: 12px;
  }
  main .container-main .green-1 .g1-c3 .g1-c3-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
  }
  main .container-main .green-2 {
    width: 100%;
    height: 300px;
    background-color: rgba(165, 180, 204, 0);
  }
  main .container-main .green-2 .g2-con-work-social {
    width: 100%;
    height: auto;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container a {
    margin: 5px;
    margin-bottom: 12px;
  }
  main .container-main .green-2 .g2-con-1 {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px auto 0px auto;
    background-color: rgba(250, 250, 250, 0.116);
    width: 65%;
    height: 50%;
    border-radius: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num p {
    font-family: 'Bitter', serif;
    margin-right: 5px;
    color: #b6e0b8;
    margin: 10px 7px 5px 7px;
    font-size: 16px;
    font-weight: bold;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 7px;
    background-color: rgba(114, 221, 120, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px green;
            box-shadow: 0 0 5px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button:active {
    background-color: #34c22f;
    color: white;
    -webkit-box-shadow: 0 0 10px green;
            box-shadow: 0 0 10px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social {
    margin: 16px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social a {
    height: 50%;
  }
  main .container-main .green-2 .g2-con-gmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-gmail button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
    background-color: rgba(233, 132, 149, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px maroon;
            box-shadow: 0 0 5px maroon;
  }
  main .container-main .green-2 .g2-con-gmail button:active {
    background-color: #e00606;
    color: white;
    -webkit-box-shadow: 0 0 10px #c70000;
            box-shadow: 0 0 10px #c70000;
  }
  main .container-main .green-2 .g2-con-gmail p {
    font-family: 'Bitter', serif;
    font-size: 14px;
    color: #1f1d3d;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 3px 12px 3px 3px;
    padding: 5px 3px 5px 3px;
    border-radius: 10px;
  }
  main .container-main .green-2 .g2-con-gmail img {
    margin: 0px 12px 0px 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  main {
    width: 100%;
    height: 100%;
    background-image: url("/photo/background-main.jpg");
  }
  main .container-main {
    max-width: 767px;
    height: 100%;
  }
  main .container-main .red-1 {
    width: 100%;
    height: 300px;
    background-image: url("/photo/header.jpg");
    background-size: 110%;
    background-position: center;
  }
  main .container-main .red-1 .r1-content {
    position: absolute;
    width: 100%;
    background-color: rgba(58, 16, 16, 0.301);
    margin-top: 120px;
  }
  main .container-main .red-1 .r1-content p {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 25px;
    color: white;
    background-color: rgba(44, 17, 17, 0.76);
    height: 40px;
    text-align: center;
    text-shadow: 0px 0px 5px #903333;
    padding-top: 6px;
  }
  main .container-main .green-1 {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(/photo/work-photo.jpg);
    background-size: 110%;
    background-position: center;
    padding-top: 30px;
  }
  main .container-main .green-1 .content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 0px auto 0px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .container-main .green-1 .g1-c1 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 235, 144, 0.281);
  }
  main .container-main .green-1 .g1-c1 .g1-c1-text p {
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    margin-right: 10px;
    color: #3f3f3f;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  main .container-main .green-1 .g1-c1 .g1-c1-img img {
    margin: 5px 0px 0px 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px #ffd900;
            box-shadow: 0px 0px 15px #ffd900;
    background-color: rgba(255, 217, 0, 0.418);
  }
  main .container-main .green-1 .g1-c2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: left;
    background-color: rgba(255, 255, 255, 0.377);
    margin: 100px auto 3px 0px;
  }
  main .container-main .green-1 .g1-c2 .g1-c2-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-1 .g1-c3 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: right;
    background-color: rgba(253, 253, 253, 0.37);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 199px auto 0px 0px;
  }
  main .container-main .green-1 .g1-c3 .g1-c3-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-2 {
    width: 100%;
    height: 300px;
    background-color: rgba(165, 180, 204, 0);
  }
  main .container-main .green-2 .g2-con-work-social {
    width: 100%;
    height: auto;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container a {
    margin: 5px;
    margin-bottom: 12px;
  }
  main .container-main .green-2 .g2-con-1 {
    width: 70%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px auto 0px auto;
    background-color: rgba(250, 250, 250, 0.116);
    width: 65%;
    height: 50%;
    border-radius: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num p {
    font-family: 'Bitter', serif;
    margin-right: 5px;
    color: #b6e0b8;
    margin: 10px 7px 5px 7px;
    font-size: 16px;
    font-weight: bold;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 7px;
    background-color: rgba(114, 221, 120, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px green;
            box-shadow: 0 0 5px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button:active {
    background-color: #34c22f;
    color: white;
    -webkit-box-shadow: 0 0 10px green;
            box-shadow: 0 0 10px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social {
    margin: 16px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social a {
    height: 50%;
  }
  main .container-main .green-2 .g2-con-gmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-gmail button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
    background-color: rgba(233, 132, 149, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px maroon;
            box-shadow: 0 0 5px maroon;
  }
  main .container-main .green-2 .g2-con-gmail button:active {
    background-color: #e00606;
    color: white;
    -webkit-box-shadow: 0 0 10px #c70000;
            box-shadow: 0 0 10px #c70000;
  }
  main .container-main .green-2 .g2-con-gmail p {
    font-family: 'Bitter', serif;
    font-size: 14px;
    color: #1f1d3d;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 3px 12px 3px 3px;
    padding: 5px 3px 5px 3px;
    border-radius: 10px;
  }
  main .container-main .green-2 .g2-con-gmail img {
    margin: 0px 12px 0px 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    width: 100%;
    height: 100%;
    background-image: url("/photo/background-main.jpg");
  }
  main .container-main {
    max-width: 991px;
    height: 100%;
  }
  main .container-main .red-1 {
    width: 100%;
    height: 300px;
    background-image: url("/photo/header.jpg");
    background-size: 110%;
    background-position: center;
  }
  main .container-main .red-1 .r1-content {
    position: absolute;
    width: 100%;
    background-color: rgba(58, 16, 16, 0.301);
    margin-top: 120px;
  }
  main .container-main .red-1 .r1-content p {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 25px;
    color: white;
    background-color: rgba(44, 17, 17, 0.76);
    height: 40px;
    text-align: center;
    text-shadow: 0px 0px 5px #903333;
    padding-top: 6px;
  }
  main .container-main .green-1 {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(/photo/work-photo.jpg);
    background-size: 110%;
    background-position: center;
    padding-top: 30px;
  }
  main .container-main .green-1 .content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 0px auto 0px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .container-main .green-1 .g1-c1 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 235, 144, 0.281);
  }
  main .container-main .green-1 .g1-c1 .g1-c1-text p {
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    margin-right: 10px;
    color: #3f3f3f;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  main .container-main .green-1 .g1-c1 .g1-c1-img img {
    margin: 5px 0px 0px 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px #ffd900;
            box-shadow: 0px 0px 15px #ffd900;
    background-color: rgba(255, 217, 0, 0.418);
  }
  main .container-main .green-1 .g1-c2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: left;
    background-color: rgba(255, 255, 255, 0.377);
    margin: 100px auto 3px 0px;
  }
  main .container-main .green-1 .g1-c2 .g1-c2-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-1 .g1-c3 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: right;
    background-color: rgba(253, 253, 253, 0.37);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 199px auto 0px 0px;
  }
  main .container-main .green-1 .g1-c3 .g1-c3-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-2 {
    width: 100%;
    height: 300px;
    background-color: rgba(165, 180, 204, 0);
  }
  main .container-main .green-2 .g2-con-work-social {
    width: 100%;
    height: auto;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container a {
    margin: 5px;
    margin-bottom: 12px;
  }
  main .container-main .green-2 .g2-con-1 {
    width: 40%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px auto 0px auto;
    background-color: rgba(250, 250, 250, 0.116);
    width: 65%;
    height: 50%;
    border-radius: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num p {
    font-family: 'Bitter', serif;
    margin-right: 5px;
    color: #b6e0b8;
    margin: 10px 7px 5px 7px;
    font-size: 16px;
    font-weight: bold;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 7px;
    background-color: rgba(114, 221, 120, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px green;
            box-shadow: 0 0 5px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button:active {
    background-color: #34c22f;
    color: white;
    -webkit-box-shadow: 0 0 10px green;
            box-shadow: 0 0 10px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social {
    margin: 16px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social a {
    height: 50%;
  }
  main .container-main .green-2 .g2-con-gmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-gmail button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
    background-color: rgba(233, 132, 149, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px maroon;
            box-shadow: 0 0 5px maroon;
  }
  main .container-main .green-2 .g2-con-gmail button:active {
    background-color: #e00606;
    color: white;
    -webkit-box-shadow: 0 0 10px #c70000;
            box-shadow: 0 0 10px #c70000;
  }
  main .container-main .green-2 .g2-con-gmail p {
    font-family: 'Bitter', serif;
    font-size: 14px;
    color: #1f1d3d;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 3px 12px 3px 3px;
    padding: 5px 3px 5px 3px;
    border-radius: 10px;
  }
  main .container-main .green-2 .g2-con-gmail img {
    margin: 0px 12px 0px 10px;
  }
}

@media (min-width: 992px) {
  main {
    width: 100%;
    height: 100%;
    background-image: url("/photo/background-main.jpg");
  }
  main .container-main {
    min-width: 992px;
    height: 100%;
  }
  main .container-main .red-1 {
    width: 100%;
    height: 300px;
    background-image: url("/photo/header.jpg");
    background-size: 110%;
    background-position: center;
  }
  main .container-main .red-1 .r1-content {
    position: absolute;
    width: 100%;
    background-color: rgba(58, 16, 16, 0.301);
    margin-top: 120px;
  }
  main .container-main .red-1 .r1-content p {
    text-align: center;
    font-family: 'Bitter', serif;
    font-size: 25px;
    color: white;
    background-color: rgba(44, 17, 17, 0.76);
    height: 40px;
    text-align: center;
    text-shadow: 0px 0px 5px #903333;
    padding-top: 6px;
  }
  main .container-main .green-1 {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url(/photo/work-photo.jpg);
    background-size: 110%;
    background-position: center;
    padding-top: 30px;
  }
  main .container-main .green-1 .content-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    margin: 0px auto 0px auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  main .container-main .green-1 .g1-c1 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 235, 144, 0.281);
  }
  main .container-main .green-1 .g1-c1 .g1-c1-text p {
    font-family: 'Bitter', serif;
    font-weight: 300;
    font-style: normal;
    font-size: 23px;
    margin-right: 10px;
    color: #3f3f3f;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  main .container-main .green-1 .g1-c1 .g1-c1-img img {
    margin: 5px 0px 0px 0px;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 15px #ffd900;
            box-shadow: 0px 0px 15px #ffd900;
    background-color: rgba(255, 217, 0, 0.418);
  }
  main .container-main .green-1 .g1-c2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: left;
    background-color: rgba(255, 255, 255, 0.377);
    margin: 100px auto 3px 0px;
  }
  main .container-main .green-1 .g1-c2 .g1-c2-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-1 .g1-c3 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    float: right;
    background-color: rgba(253, 253, 253, 0.37);
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 199px auto 0px 0px;
  }
  main .container-main .green-1 .g1-c3 .g1-c3-text p {
    font-family: 'Bitter', serif;
    margin: 3px 0px 3px 0px;
    text-align: center;
    color: #2f2f2f;
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
  }
  main .container-main .green-2 {
    width: 100%;
    height: 300px;
    background-color: rgba(165, 180, 204, 0);
  }
  main .container-main .green-2 .g2-con-work-social {
    width: 100%;
    height: auto;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-work-social .g2-con-work-social-container a {
    margin: 5px;
    margin-bottom: 12px;
  }
  main .container-main .green-2 .g2-con-1 {
    width: 400px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px auto 0px auto;
    background-color: rgba(82, 22, 22, 0.411);
    width: 65%;
    height: 50%;
    border-radius: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num p {
    font-family: 'Bitter', serif;
    margin-right: 5px;
    color: #b6e0b8;
    margin: 10px 7px 5px 7px;
    font-size: 16px;
    font-weight: bold;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    margin-left: 7px;
    background-color: rgba(114, 221, 120, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px green;
            box-shadow: 0 0 5px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-num button:active {
    background-color: #34c22f;
    color: white;
    -webkit-box-shadow: 0 0 10px green;
            box-shadow: 0 0 10px green;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social {
    margin: 16px 0px 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 30%;
  }
  main .container-main .green-2 .g2-con-1 .g2-con-1-social a {
    height: 50%;
  }
  main .container-main .green-2 .g2-con-gmail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  main .container-main .green-2 .g2-con-gmail button {
    border-radius: 50%;
    font-size: 20px;
    font-family: monospace;
    width: 40px;
    height: 40px;
    margin: 0px 12px 0px 0px;
    background-color: rgba(233, 132, 149, 0.856);
    color: #454546;
    padding: 0;
    border: 0;
    -webkit-box-shadow: 0 0 5px maroon;
            box-shadow: 0 0 5px maroon;
  }
  main .container-main .green-2 .g2-con-gmail button:active {
    background-color: #e00606;
    color: white;
    -webkit-box-shadow: 0 0 10px #c70000;
            box-shadow: 0 0 10px #c70000;
  }
  main .container-main .green-2 .g2-con-gmail p {
    font-family: 'Bitter', serif;
    font-size: 14px;
    color: #1f1d3d;
    background-color: rgba(255, 255, 255, 0.678);
    margin: 3px 12px 3px 3px;
    padding: 5px 3px 5px 3px;
    border-radius: 10px;
  }
  main .container-main .green-2 .g2-con-gmail img {
    margin: 0px 12px 0px 10px;
  }
}
